@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Someplace in Seattle<br />
    <abbr title="Phone">P:</abbr>
    (206) 849-0373
</address>

<address>
    <strong>Support:</strong> <a href="mailto:jill.england@comcast.net">Support</a><br />
</address>
