@{
    ViewData["Title"] = "Demo";
}

<h2>Demo</h2>

<button type="button"
        onclick="document.getElementById('demo').style.visibility='visible';">
    Show Beach
</button>

<div id="demo" style="visibility:hidden;">
    <p></p>
    <p>
        <img width="300" src="~/images/beach.jpg" alt="Imagine a picture of a beach here." />
    </p>
    <p></p>
    <p>
        <img width="300" src="~/images/lake.jpg" alt="Imagine a picture of a lake here." />
    </p>
</div>